{%- extends 'base_search_styles_img.html' %}

{%- block title %}
    CHAPA | О нас
{%- endblock %}

{%- block content %}
<h1 style="padding: 90px; font-size: 36px;">О нас</h1>

<p style="padding: 15px; font-size: 25px;">Основная цель создания “CHAPA” – предоставить новую брендовую одежду и кроссовки по выгодным ценам, что не будут кусаться, как черепахи.
    Мы хотим создать уютную атмосферу “заплыва за покупками”, что очень понравится клиентам.</p>
<p style="padding: 15px; font-size: 25px;">Суть проекта “CHAPA” заключается в создании уникального сайта про продажу брендовой одежды и кроссовок,
    что будет привлекать к себе внимание благодаря дизайну и выгодным ценам.</p>
<p style="padding: 15px; font-size: 25px;">Миссия проекта звучит как: “Обеспечить покупателям незабываемый опыт приобретения качественной брендовой одежды и кроссовок
    по привлекательным ценам в уютной атмосфере."</p>
<p style="padding: 15px; font-size: 25px;">История бренда: У меня есть черепаха  Чапа, которая очень миленькая, она заставила меня полюбить детей и брендовую одежду. Я создаю данный проект для того, чтобы дети одевались в брендовую одежду, что не будет кусаться по ценам.
</p>

{%- endblock %}