{% extends 'base_search_styles_img.html' %}

{%- block title %}
    CHAPA | Аккаунт {{name}}
{%- endblock %}

    {% block content %}

    <p style="padding: 80px; font-size: 36px;">Привет {{name}}, пора заказывать одежду! йоу.</p>
    {%
        set age = 20

    %}

    <p style="font-size:25px">Возраст {{age}}</p>

    {% if page %}
    <p style="font-size:25px">Вы зарегистрированы</p>
    {% else %}
    <p style="font-size:25px">Вы не зарегистрированы</p>
    {% endif %}

    {% set user_list = ["Tim", "Terry", "Spike"]%}
    {% for user in user_list %}
    <p> {{user}}</p>
    {%endfor%}

    {% endblock %}